@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --header-backgroundcolor: #a0d4ee;
  --main-background-color: #ddd;
  --main-background-color: #fff;
  --text-color: black;
  --header-logo-text-color: black;
  --break-backgrouondcolor: #a0d4ee;
  --desc-text-color: #5a6072;
  --sidebar-backgroundcolor: #fff;
  --landing-background-image: url("./images/clouds-light.png");
  --transition-duration: 500ms;
  --svg-backgroundcolor: hsl(227 90% 88% / 1);
  --svg-inner-one: hsl(227 80% 83% / 1);
  --svg-inner-two: hsl(227 68% 92% / 1);
  --color-gray-700: hsl(225deg 12% 40%);
  --technology-bgcolor: #dde3f8;
}

.dark-mode {
  --header-backgroundcolor: #111b27;
  --main-background-color: #0d0f12;
  --text-color: white;
  --header-logo-text-color: white;
  --break-backgrouondcolor: #121c28;
  --desc-text-color: #929da9;
  --sidebar-backgroundcolor: #121c28;
  --landing-background-image: url("./images/clouds-dark.png");
  --svg-backgroundcolor: hsl(226.66deg 40% 16%);
  --svg-inner-one: hsl(227 40% 12% / 1);
  --color-gray-700: hsl(210deg 14% 66%);
  --technology-bgcolor: #0d0f12;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

svg {
  display: block;
}

/* for testing */
img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

h2 {
  font-size: 2rem;
}

body {
  font-family: "Fira Code", monospace;
}

/* 
  That's because we need a way to control the overflow of the viewport. CSS will treat the overflow of the body element as the overflow of the viewport
*/
body:has(.navigation-bar-open) {
  overflow-y: hidden;
}

.layout {
  background-color: var(--main-background-color);
  transition: background-color var(--transition-duration);
  position: relative;
  display: flex;
}

.layout > :first-child {
  overflow-x: hidden;
  /* if you're to set the width on the svg-wrapper to 100%, set flex-grow to 1 because display: flex on the layout put the element on the left side */
  flex-grow: 1;
}

.layout:has(.navigation-bar-open) > :nth-child(2) {
  width: 15px;
  flex-shrink: 0;
  background-color: transparent;
}

.layer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 0;
  transition: height 0ms var(--transition-duration),
    background-color var(--transition-duration),
    backdrop-filter var(--transition-duration);
}

.layer.dark {
  transition: background-color var(--transition-duration),
    backdrop-filter var(--transition-duration);
  height: 100%;
  background-color: rgb(0 0 0 / 25%);
  backdrop-filter: blur(2px);
}

/* header start  */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /* background-color: var(--svg-backgroundcolor); */
  /* background-color: var(--main-background-color); */
  backdrop-filter: blur(35px);
}

header > div {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  max-width: 1000px;
  margin-inline: auto;
}

@media (min-width: 394px) {
  header > div {
    gap: 3rem;
  }
}

.logo {
  color: var(--header-logo-text-color);
  font-weight: 500;
  font-size: 20px;
}

.nagivation-bar ul {
  list-style-type: none;
  display: flex;
  column-gap: 40px;
}

.dark-mode .nagivation-bar ul {
  box-shadow: none;
}

.nagivation-bar li :where(span, svg) {
  padding: 10px;
}

.nagivation-bar li svg {
  display: none;
}

.nagivation-bar li span {
  display: block;
}

@media (max-width: 850px) {
  .nagivation-bar > div {
    padding-top: 55px;
    position: absolute;
    height: calc(100dvh - 75px);
    right: 9px;
    top: 66px;
    z-index: 1;
    width: 0px;
    max-width: 350px;
    box-shadow: 0px 0px 10px -6px;
    background-color: #fff;
    transition: width var(--transition-duration);
    border-radius: 5px;
  }

  .nagivation-bar li {
    opacity: 0;
    transition: opacity 350ms;
  }

  div.navigation-bar-open li {
    opacity: 1;
  }

  .nagivation-bar div.navigation-bar-open {
    width: calc(100% - 18px);
  }

  .nagivation-bar ul {
    flex-direction: column;
  }

  .nagivation-bar li a {
    display: flex;
    padding-left: 35px;
  }

  .nagivation-bar li svg {
    display: block;
  }

  .nagivation-bar li span {
    color: black;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.header-actions > div {
  height: 23px;
}

.sidebar-menu {
  display: none;
}

@media (max-width: 850px) {
  .sidebar-menu {
    width: 27px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .sidebar-menu span {
    background-color: var(--text-color);
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 350ms ease;
    border-radius: 10px;
  }

  .sidebar-menu span:first-child {
    transform: translateY(-6px);
  }

  .sidebar-menu span:nth-child(2) {
    transform: translateY(0px);
  }

  .sidebar-menu span:last-child {
    transform: translateY(6px);
  }

  .open-menu span:nth-child(2) {
    opacity: 0;
  }

  .open-menu span:first-child,
  .open-menu span:last-child {
    transform: translate(0px);
  }

  .open-menu span:first-child {
    rotate: 45deg;
  }

  .open-menu span:last-child {
    rotate: -45deg;
  }
}
/* header end */

/* main start */

main {
  min-height: 100dvh;
  position: relative;
}

/* homepage start */

/* .svg-wrapper {
  overflow-x: hidden;
} */

.svg-wrapper svg {
  background-color: var(--svg-backgroundcolor);
  width: 100%;
  min-width: 1700px;
}

.svg-wrapper svg path {
  transition: fill 500ms;
}

.svg-wrapper path:nth-child(2) {
  fill: var(--main-background-color);
}
.svg-wrapper path:nth-child(1) {
  fill: peachpuff;
  fill: var(--svg-inner-one);
}

.introduction {
  padding-left: 50px;
  padding-right: 50px;
}

.home-page .introduction {
  position: absolute;
  top: 175px;
  width: 100%;
}

@media (min-width: 851px) {
  .introduction {
    text-align: center;
  }
}

.introduction h1 {
  font-size: 2.25rem;
}

.introduction p {
  color: var(--color-gray-700);
  margin-top: 15px;
}

.home-page-content {
  padding-inline: 25px;
  max-width: 1070px;
  margin: 0 auto;
}

.home-page-content .description p {
  font-size: 17px;
  margin-top: 25px;
  max-width: 850px;
}

.skill-set h2 {
  margin-top: 75px;
  /* background-image: linear-gradient(
    89deg,
    rgb(255, 0, 115),
    rgb(255, 163, 26) 33.69%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.skill-set p,
blockquote {
  color: var(--color-gray-700);
  /* max-width: 370px; */
  margin-top: 10px;
  font-size: 15px;
}

.skill-set img {
  position: relative;
  left: 35px;
}

.skill-set ul {
  list-style-type: none;
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  max-width: 810px;

  gap: 15px;
  margin-top: 40px;
}

@media (min-width: 575px) {
  /* .skill-set li:nth-child(1) {
    grid-column: span 2;
  }
  .skill-set li:nth-child(4) {
    grid-column: span 2;
  }
  .skill-set li:nth-child(5) {
    grid-column: span 2;
  }
  .skill-set li:nth-child(8) {
    grid-column: span 2;
  } */

  .skill-set ul {
    grid-template-columns: repeat(6, 1fr);
  }

  .skill-set :where(li:nth-child(1), li:nth-child(2)) {
    grid-column: span 3;
  }

  .skill-set li:not(:where(li:nth-child(1), li:nth-child(2))) {
    grid-column: span 2;
  }
}

.skill-set li {
  background-color: var(--technology-bgcolor);
  /* flex-basis: 160px; */
  /* flex-grow: 1; */
  height: 12rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dark-mode .skill-set li {
  border: 2px solid #fff;
}

.skill-set li :where(path, svg) {
  transition: var(--transition-duration);
}

.skill-set li > * {
  display: block;
}

.skill-set li > svg {
  width: 50%;
  margin-inline: auto;
  height: 6rem;
}

/* skillset in dark mode */

/* projects */

.projects-section .introduction p {
  max-width: 600px;
}

@media (min-width: 851px) {
  .projects-section .introduction p {
    margin-inline: auto;
  }
}

.projects {
  margin-top: 60px;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  gap: 20px;
  max-width: 825px;
  padding-inline: 25px;
  margin-inline: auto;
}

.projects .project {
  /* flex-grow: 1;
  flex-basis: 350px; */
  grid-row: span 4;
  display: grid;
  grid-template-rows: subgrid;
  gap: 0;
  background-color: var(--technology-bgcolor);
  background-color: #221f25;
  border-radius: 6px;
  overflow: hidden;
}

.project .project-info {
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  padding: 25px;
}

.project-info * {
  color: white;
}

.project-info h2 {
  font-size: 1.4rem;
}

.project-info p {
  margin-top: 15px;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.project-links > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* will be removed later */
.landing {
  height: 304px;
  transition: var(--transition-duration);
  background-image: var(--landing-background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-landing {
  position: absolute;
  width: 100%;
  height: 500px;
  transition: var(--transition-duration);
  background-image: var(--home-landing-background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.break {
  height: 70px;
  background: var(--break-backgrouondcolor);
  transition: var(--transition-duration);
}

.porjects-section {
  margin-top: 30px;
}

.bookmarks-tab {
  /* display: flex;
  align-items: flex-start; */
  gap: 16px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  max-width: 400px;

  /* &:hover {
    background-color: #eee;
  } */
}

.bookmarks-tab img {
  /* width: 50%; */

  border-radius: 8px;
}

.bookmarks-tab h3 {
  margin-top: 5px;
  font-size: 1.5rem;
}

.bookmarks-tab p {
  margin-top: 10px;
  line-height: 22px;
}

.bookmarks-tab .links {
  margin-top: 15px;
  /* padding-inline: 45px; */
  display: flex;
  gap: 15px;
  justify-content: center;
}

.links a {
  font-size: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border: 2px solid #ddd;
  &:hover {
    background-color: #eee;
    border-color: black;
  }
}
